@model GymsHouse.Models.TrainingClass

@{
    ViewData["Title"] = "Create Training Class";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <br />
    <h2 class="text-info">Create Training Class</h2>
    <br />
    @Html.Partial("_StatusMessage", TempData["StatusMessage"])
    <hr />
    @using (Html.BeginForm(method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Name">Name:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Description">Description:</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Description, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Price">Price:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Price, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Duration">Duration (Hours):</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Duration, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Duration, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="IsActive">Is Active:</label>
            <div class="col-sm-7">
                @Html.CheckBoxFor(m => m.IsActive, htmlAttributes: new { @class = "form-control", @style = "width: 20px; height: 20px;" })
                @Html.ValidationMessageFor(m => m.IsActive, null, htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="Picture_1">Picture 1:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Picture_1, htmlAttributes: new { @class = "form-control", @type = "file", multiple = "multiple" })
                @Html.ValidationMessageFor(m => m.Picture_1, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Picture_2">Picture 2:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Picture_2, htmlAttributes: new { @class = "form-control", @type = "file", multiple = "multiple" })
                @Html.ValidationMessageFor(m => m.Picture_2, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Picture_3">Picture 3:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Picture_3, htmlAttributes: new { @class = "form-control", @type = "file", multiple = "multiple" })
                @Html.ValidationMessageFor(m => m.Picture_3, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Picture_4">Picture 4:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Picture_4, htmlAttributes: new { @class = "form-control", @type = "file", multiple = "multiple" })
                @Html.ValidationMessageFor(m => m.Picture_4, null, htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />&nbsp;
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
