@model GymsHouse.Models.TrainingClass

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrainingClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture_1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture_1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture_2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture_2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture_3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture_3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture_4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture_4)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
