@model IEnumerable<GymsHouse.Models.ScheduleHeader>

@{
    ViewData["Title"] = "Schedule Header List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-info">Schedule Header List</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Class")
            </th>
            <th>
                @Html.DisplayName("Start Date")
            </th>
            <th>
                @Html.DisplayName("End Date")
            </th>
            <th>
                @Html.DisplayName("Location")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.ScheduleDetails.Count <= 0)
                {
                    <span style="color: deeppink;">@Html.DisplayFor(modelItem => item.TrainingClass.Name)</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.TrainingClass.Name)
                }
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.StartDate))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.EndDate))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">View</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-controller="SchedulerDetails" asp-action="Index" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
        }
    </tbody>
</table>


